:root {
  --primary-color: #d4a373; /* Тёплый коричневый (цвет традиционной керамики) */
  --secondary-color: #faedcd; /* Светлый бежевый */
  --accent-color: #a5becc; /* Приглушенный синий (цвет чхонсам) */
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.border-primary {
  border-color: var(--primary-color) !important;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 50px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/gallery3.jpeg');
  /* url('https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'); */
  /*  */
  background-size: cover;
  background-position: center;
  color: white;
  /* padding: 120px 0; */
}

.product-card {
  text-align: center;
  padding: 20px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.card-title {
  margin-bottom: 10px;
  font-weight: 600;
}
.h5 {
  margin: 0;
}
.card-text {
  text-align: start;
  color: #555;
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.about-section {
  background-color: var(--secondary-color);
  padding: 80px 0;
}

.ceo-message {
  font-size: 1.1rem;
  line-height: 1.8;
}

.gallery-img {
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.gallery-img:hover {
  transform: scale(1.03);
}

.delivery-info {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

footer {
  background-color: #343a40;
  color: white;
  padding: 40px 0;
}
